* {
  color: blue;
}

.game-container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  margin: 100px;

}

.question-card {
  align-items: center;
  border: 4px solid hsl(254, 84%, 46%);
  border-radius: 1em;
  box-shadow: 0 5px 10px 0 rgb(54, 14, 119);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 520px;
  justify-content: space-evenly;
  margin-left: 20px;
  padding: 1em;
  width: 500px;
}

.question-text {
  font-size: 2 , 5em;
  text-align: center;
}

.question-card:hover {
  box-shadow: 0 10px 20px 2px rgba(53, 6, 140, 0.7);
}

.categoria {
  border: 3px solid hsl(254, 84%, 46%);
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgb(54, 14, 119);
  padding: 8px;
  text-align: center;

}

.timer {
  border: 3px solid hsl(254, 84%, 46%);
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgb(54, 14, 119);
  font-size: 25px;
  font-weight: 900;
  padding: 15px 20px 20px;

}

.answers-container {
  align-items: center;
  border: 4px solid hsl(254, 84%, 46%);
  border-radius: 1em;
  box-shadow: 0 5px 10px 0 rgb(54, 14, 119);
  color: aliceblue;
  display : flex;
  flex-direction: column;
  gap: 50px;
  height: 520px;
  justify-content: center;
  padding: 2em;
  width: 500px;
}

.answer-btn {
  align-items: center;
  background-color: #3b0bc0;
  border: 0.15em solid(--color);
  border-radius: 20px;
  box-shadow: inset 0 0 0 0.2em #1b36e6 , inset
    0 0 1em 0.3em #3b0bc0 , inset
    1em 1em 0.4em rgba(0, 0, 0, 0.6) , 0 0 0 0.2em
    #260ac6 , 0 0 1em 0.3em #050505 , 1em 1em 0.4em
    rgba(27, 26, 26, 0.6);
  color: white;
  font-size: 1em;
  font-weight: 600;
  height: 20%;
  width: 90%;
}

.answer-btn:hover {
  border: #3b0bc0 8px;
  box-shadow: 0 10px 20px 2px rgba(53, 6, 140, 0.7);
  transform: translateY(-5px);
}

.next-btn {
  background-color: #3b0bc0;
  border: 4px solid hsl(254, 84%, 46%);
  border-radius: 25px;
  box-shadow: 0 5px 10px 0 rgb(54, 14, 119);
  color: white;
  font-size: 1em;
  padding: 10px;
  text-transform: uppercase;
  width: 30%;

}

@media only screen and ( max-width : 952px ) {

  .game-container {
    display: grid;
    margin: 30px;
  }

  .answers-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 19px;
  }

  .question-card {
    font-size: 14px;
    gap: 5px;
  }

  .answer-btn {
    width: 60%;
  }
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer-0, .wrong-answer-1, .wrong-answer-2, .wrong-answer-3 {
  border: 3px solid red;
}
