@import url('https://fonts.googleapis.com/css?family=Raleway') ;

:root {

  --glow-color: hsl(215, 86%, 43%);

  --main-color: rgb(54, 14, 119);

}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: black;
  height: 100%;

}


.container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


.form-login {
  border: 0.2em solid var(--glow-color);
  border-radius: 1em;
  box-shadow: 0 5px 40px 0 rgb(54, 14, 119);
  height: 520px;
  justify-content: center;
  margin: 5px;
  padding: 3em;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 500px;
}

/* input:-webkit-autofill{
  -webkit-text-fill-color: blue !important;
  -webkit-box-shadow: 0 0 0 1000px black inset;
} */

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  box-shadow: 0 0 0 1000px black inset;
  -webkit-text-fill-color: white;
}

.input-login {
  background: none;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  box-shadow: 0 5px 5px 0 rgb(54, 14, 119);
  color: var(--glow-color);
  cursor: pointer;
  font-family: Raleway , sans-serif;
  font-size: 2em;
  font-weight: 900;
  justify-content: center;
  margin: 10px;
  outline: transparent;
  padding: 0.55em 1em;
  transition: opacity 550ms linear;
  width: 90%;
}

.glowing-btn {
  animation: border-flicker 2s linear infinite;
  background: none;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  box-shadow: inset 0 0 0.5em 0 var(--glow-color) , 0 0 0.5em 0 var(--glow-color);
  color: var(--glow-color);
  cursor: pointer;
  font-family: Raleway , sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;
  margin: 50px;
  padding: 0.35em 1em;
  perspective: 2em;
}

.glowing-txt {
  animation: text-flicker 3s linear infinite;
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3) , 0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3) , 0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3) , 0 0 0.45em var(--glow-color);
}

.faulty-letter {
  animation: faulty-flicker 2s linear infinite;
  opacity: 0.5;
}

.glowing-btn:before {
  background: var(--glow-color);
  bottom: 0;
  content: '';
  filter: blur(1em);
  left: 0;
  opacity: 0.7;
  pointer-events: none;
  right: 0;
  top: 0;
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
}

.glowing-btn:after {
  background-color: #08193f;
  border-radius: 10px;
  bottom: 0;
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  color: rgb(143, 122, 122);
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 100ms linear;
  z-index: -1;
}

.glowing-btn:hover {
  animation: none;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  opacity: 1;
  text-shadow: none;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {

  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 0.1;
  }

  4% {
    opacity: 0.5;
  }

  19% {
    opacity: 0.5;
  }

  21% {
    opacity: 0.1;
  }

  23% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {

  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {

  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}


.btn-configura {
  animation: border-flicker 2s linear infinite;
  background: none;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  box-shadow: inset 0 0 0.5em 0 var(--glow-color) , 0 0 0.5em 0 var(--glow-color);
  color: var(--glow-color);
  cursor: pointer;
  font-family: Raleway , sans-serif;
  font-size: 1em;
  font-weight: 800;
  margin: 20px;
  padding: 0.55em 1em;
  perspective: 1em;
  text-transform: uppercase;
}

@media only screen and ( max-width : 952px ) {

  .input-login, .btn-configura {
    margin-bottom: 30px;
  }
}
