nav {
  align-items: center;
  border: 0.15em solid (--color);
  box-shadow: inset 0 0 0.5em 0 var(--glow-color) , 0 0 0.5em 0 var(--glow-color);
  display: flex;
  height: 20vh;
  justify-content:flex-end;
  left: 0;
  margin: 0;
  padding: 80px;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 9999;
}


.header-name {
  color: white;
  text-transform: uppercase;
}

.header-score {
  color: white;
  text-transform: uppercase;
}
.user-data {
display: flex;
align-self: flex-start;
}
.img-profile {
  border: 4px solid rgb(41, 41, 202);
  border-radius: 50%;
  height: 90px;
  object-fit: cover;
  margin: 0 20px;

}
.main-title{
  position: absolute;
  left: 52%;
  transform: translate(-45%);
}
.title {
  position: absolute;
  left: 52%;
  transform: translate(-45%);
  animation: border-flicker 2s linear infinite;
  background: none;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  box-shadow: inset 0 0 0.5em 0 var(--glow-color) , 0 0 0.5em 0 var(--glow-color);
  color: var(--glow-color);
  cursor: pointer;
  display: flex;
  font-family: Raleway , sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;
  margin: 50px;
  padding: 0.35em 1em;
  perspective: 2em;
}

@keyframes border-flicker {

  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and ( max-width : 1440px ) {

  .glowing-btn {
    font-size: 1em;
    margin: 0;
  }
}

@media only screen and ( max-width : 952px ) {

  .header-name, .header-score {
    font-size: 15px;
    font-weight: 900;
    padding: 20px;
  }

  .img-profile {
    height: 60px;
    margin-left: 20px;
  }

  nav {
    justify-content: space-around;
    left: -100%;
    top: 80px;
    transition: all 0.5s;
    width: 100%;
  }
}
